.radugaUnordList>li:nth-child(1)
{
    color: red;
}

.radugaUnordList>li:nth-child(2)
{
    color: orange;
}

.radugaUnordList>li:nth-child(3)
{
    color: yellow;
}

.radugaUnordList>li:nth-child(4)
{
    color: green;
}

.radugaUnordList>li:nth-child(5)
{
    color: rgb(0, 225, 255);
}

.radugaUnordList>li:nth-child(6)
{
    color: blue;
}

.radugaUnordList>li:nth-child(7)
{
    color: violet;
}